app-focus-child {
    position: abs; 
    display: block;
    margin: auto;     
}

.line_f3 {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
  }

  .annot_brushes .selection {
    fill: red;
    stroke: #000;
  }

.annotation-controls{
  .inputs{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    .annotation-button{
      margin-right: 10px;
    }
    .done-button{
      margin-right: 10px;
    }
    .delete-button{
      margin-right: 10px;
    }
    .create-theme-button{
      margin-right: 10px;
    }
    .newTheme-field{
      margin-right: 10px;
    }
    // .save-button{
    //   margin-left: 10px;
    // }
  }
  .subtheme-area{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    .subtheme-field{
      margin-right: 10px;
    }
  }
  .notes-area{
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-start;
    .textarea{
      width: 100%;
    }
  }
}
