app-focus-child {
    position: abs; 
    display: block;
    margin: auto;     
}

.line_f3 {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
  }

  .annot_brushes .selection {
    fill: red;
    stroke: #000;
  }

.annotations{
  .inputs{
    display: flex;
    margin-bottom: 15px;
    :first-child{
      margin-right: 15px;
    }
  }
  .textarea{
    width: 100%;
  }
}
