<div *ngIf="loading"> {{ status }} </div>
<div *ngIf="showChartInfo">
    <p>
        <strong>Displaying data from: </strong> {{ displayDateFrom }} <strong> to: </strong> {{ displayDateTo }}
        <br>
        <strong>Total ride time: </strong> {{ displayRideMinutes }} minutes
    </p>
</div>

<div id="mainChart"></div>

<div class="annotation-controls" *ngIf="displayAnnotationForm">

    <div class="inputs">
        <button id="annotation-btn" nbButton size="small" class="annotation-button" (click)="toggleAnnotationMode()" > {{ annotateBtnText }}</button>
        <button nbButton size="small" id="save-button" class="save-button" [disabled]="disableSave" (click)="saveAnnotations()" >Save</button>
        <button nbButton size="small" id="delete-button" class="delete-button" [disabled]="true" >Delete</button>

        <input nbInput type="text" class="theme-field" placeholder="Theme" fieldSize="small" [disabled]="enableAnnotFields" style="font-weight:normal;">
        <input nbInput type="text" class="subtheme-field" placeholder="Subtheme" fieldSize="small" [disabled]="enableAnnotFields" style="font-weight:normal;">
    </div>
    <textarea nbInput class="notes-field textarea input-full-width" placeholder="Notes" fieldSize="small" [disabled]="enableAnnotFields" style="font-weight:normal;"></textarea>
</div>