app-focus-child {
    position: abs; 
    display: block;
    margin: auto;     
}

.line_f3 {
    fill: none;
    stroke: steelblue;
    stroke-width: 0.5px;
  }

  .annot_brushes .selection {
    fill: red;
    stroke: #000;
  }

  // .editor_button {
  //   cursor: pointer;
  // }

  // .editor_button rect{
  //   fill:#a3a3a3;
  //   border-radius: 10%;
  //   border: 2px solid #73AD21;
  // }

  // .editor_button text {
  //   fill:#ebebeb;
  // }

  // .editor_button:hover text {
  //   fill: #417DD6;
	//   transition: all 0.1s cubic-bezier(.25,.8,.25,1);
  // }