<div *ngIf="isLoading"> {{ status }} </div>
<div *ngIf="showChartInfo">
    <p>
        <strong> Run name:  </strong> {{ displayRideName }}
        <br>
        <strong>Displaying data from: </strong> {{ displayDateFrom }} <strong> to: </strong> {{ displayDateTo }}
        <br>
        <strong>Total ride time: </strong> {{ displayRideMinutes }} minutes
    </p>
</div>

<div id="mainChart"></div>

<div class="annotation-controls" *ngIf="displayAnnotationForm">
    <div class="inputs">
        <button id="annotation-btn" nbButton size="small" class="annotation-button" (click)="toggleAnnotationMode()">
            {{ annotateBtnText }}</button>
        <button nbButton size="small" id="done-button" class="done-button" [disabled]="disableDoneBtn"
            (click)="annotationDone()">Done</button>
        <button nbButton size="small" id="delete-button" class="delete-button" [disabled]="disableDeleteBtn"
            (click)="deleteSelectedAnnot()">Delete</button>

            <form [formGroup]="themeForm" (ngSubmit)="onSubmit()" [disabled]="disableAnnotationFields" novalidate>
        <input nbInput type="text" class="newTheme-field" placeholder="New theme name" formControlName="theme"
            fieldSize="small" style="font-weight:normal;">
        </form>

        <button nbButton size="small" id="create-theme-button" class="create-theme-button"
            [disabled]="disableCreateThemBtn" (click)="createTheme()">Create theme</button>
        <button nbButton size="small" id="save-button" class="save-button" [disabled]="disableSaveBtn"
            (click)="saveAnnotations()">Save</button>
    </div>
    <div class="subtheme-area">
        <input nbInput type="text" [(ngModel)]="subthemeText" class="subtheme-field" placeholder="Subtheme"
            fieldSize="small" [disabled]="disableAnnotationFields" style="font-weight:normal;">
    </div>
    <div class="notes-area">
        <textarea nbInput [(ngModel)]="notesText" class="notes-field textarea input-full-width" placeholder="Notes"
            fieldSize="small" [disabled]="disableAnnotationFields" style="font-weight:normal;"></textarea>
    </div>

      <!-- <input type="text" id="themeName" name="themeName" formControlName="theme"> -->
    
</div>  