<div>
    <input [value]="foo" (change)="changeFn($event)">
    <p></p>
    <input [(ngModel)]="bar" (ngModelChange)="modelChangeFn($event)">
    <p></p>
  </div>

<nb-card>
    
    <nb-card-header>Data Annotator Tool</nb-card-header>

    <nb-card-body>
        
        Select date and device: <br>
        
        <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker">
        <nb-datepicker #dateTimePicker ></nb-datepicker>

        <nb-select placeholder= "Pick a Camera" >
            <nb-option value="Cam1">Cam1</nb-option>
            <nb-option value="Cam2">Cam2</nb-option>
            <nb-option value="Cam3">Cam3</nb-option>
        </nb-select>    

        <button disabled nbButton >Load Data</button>
    </nb-card-body>

    <nb-card-body>
        
        <app-focus-child #focus1> 
        </app-focus-child>
      
    </nb-card-body>
  </nb-card>